<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./scss/style.css">
    <title>My Personal Costs</title>
</head>

<body>
    <div class="container">
        <header class="page-header">
            <span class="page-header__title">my personal costs</span>
        </header>
        <main class="content">
            <div class="costs">
                <button class="costs__add">add new cost</button>
                <table class="costs__table">
                    <tr>
                        <th class="costs__table__th">#</th>
                        <th class="costs__table__th">Date</th>
                        <th class="costs__table__th">Category</th>
                        <th class="costs__table__th">Value</th>
                    </tr>
                    <tr class="costs__table__tr">
                        <td class="costs__table__td num">11</td>
                        <td class="costs__table__td date">28.03.2022</td>
                        <td class="costs__table__td cat">Food</td>
                        <td class="costs__table__td val">169</td>
                    </tr>
                    <tr class="costs__table__tr">
                        <td class="costs__table__td num">11</td>
                        <td class="costs__table__td date">28.03.2022</td>
                        <td class="costs__table__td cat">Food</td>
                        <td class="costs__table__td val">169</td>
                    </tr>
                    <tr class="costs__table__tr">
                        <td class="costs__table__td num">11</td>
                        <td class="costs__table__td date">28.03.2022</td>
                        <td class="costs__table__td cat">Food</td>
                        <td class="costs__table__td val">169</td>
                    </tr>
                </table>
                <div class="costs__pagination"></div>
            </div>
            <div class="graphics"></div>
        </main>
    </div>
</body>

</html>